/*
Theme Name: Delfi
Theme URI: 
Author: Delfi
Author URI: http://ittricks.ru
Version: 0.0.0.1
Text Domain: delfi
*/


/*
Required WordPress CSS
*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.col-text + .btn,
.bottom .show-desktop--ib + .show-desktop--ib {
	margin-top: 20px;
}

.blue-balloon > div:nth-child(3) {
	display: none!important;
}

.gm-style-iw {
	left: 0!important;
	text-align: center!important;
	right: 0!important;
}

.gm-style-iw,
.gm-style-iw > div:nth-child(1) {
	width: auto!important;
	padding-bottom: 10px;
}

.gm-style-iw > div:nth-child(1) {
	overflow: auto!important;
}

.gm-style .gm-style-iw-t::after {
	border-top-color: #4195ea!important;
}

.blue-balloon > *,
.blue-balloon .gm-style-iw-d,
.blue-balloon  > div:nth-child(1),
.blue-balloon > div:nth-child(1) > div:nth-child(3) > div:nth-child(1)  > div:nth-child(1),
.blue-balloon > div:nth-child(1) > div:nth-child(3) > div:nth-child(2)  > div:nth-child(1) {
	background-color: #4195ea!important;
}

.blue-balloon > div:nth-child(1) > div:nth-child(4),
.blue-balloon > div:nth-child(1) > div:nth-child(2) {
	background: #4195ea!important;
	border-radius: 20px;
	color: #fff!important;	
}

.blue-balloon p.map_info_window {
	font-size: 15px;
	text-align: center;
	color: #fff;
	line-height: 1.6;
}

.blue-balloon p.map_info_window b {
	display: block;
}

.form-group__fileinput .wpcf7-form-control-wrap {
	position: static;
}

.form-group__fileinput .selected-file {
	display: none;
}

.form-group__fileinput.selected .selected-file {
	display: block;
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-form-control-wrap span {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 5;
	bottom: 0;
}

.block-order-form .wpcf7-response-output {
	color: #fff;
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
}

/*
.text {
    font-size: 1.1vw;
}

.block-header.block-header-inner+main>:first-child {
	padding-top: 5.65vw;
	padding-top: 6.75vw;
}

@media (max-width: 1024px) {
	html .block-header.block-header-inner+main>:first-child {
		padding-top: 90px;
	}
}
*/


/* Calc layers */

#order-box {
	position: relative;
	height: 300px;
	margin-right: 100px;
	margin-right: 2.89vw;
}

#calc-image {
	height: 100%;
	/*width: 100%;*/
	position: relative;
	margin-right: 100px;
}

@media (max-width: 767px) {
	html main .block-calc .block-inner .block-inner-2 .center #calc-image {
		margin-right: 20px;
		display: block;
	}
	
	html #order-box {
		margin-right: 20px;
	}
	
}

#order-box .layer,
#calc-image .layer {
	display: none;
	position: absolute;
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


#calc-image .layer.active {
	display: block;
}


#order-box .layer.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


.rg-checkbox + .ri-input {
	display: none;
}
.rg-checkbox + .ri-input.active {
	display: block;
}

html main .block-calc .block-inner .block-inner-2 .calc-block .row-inputs.row-inputs-top {
	align-items: flex-start;
}

main .block-calc .block-inner .block-inner-2 .calc-block .row-inputs [data-toggle] {
    min-width: 5.89vw;
}

main .block-calc .block-inner .block-inner-2 .calc-block .row-inputs [data-toggle] .rg-checkbox {
	margin-bottom: 5px;
}
.layer.l-base 					{z-index: 10;}

.layer.l-handles-short 			{z-index: 20;}
.layer.l-handles-long 			{z-index: 20;}
.layer.l-handles-portable		{z-index: 60;}

.layer.l-partition-crosswise	{z-index: 30;}
.layer.l-partition-longitudinal	{z-index: 30;}
.layer.l-partition-all			{z-index: 40;}

.layer.l-profile-aluminum		{z-index: 30;}
.layer.l-profile-plastic 		{z-index: 30;}
	
.layer.l-corners 				{z-index: 30;}
	
.layer.l-sticker 				{z-index: 40;}
.layer.l-logo	 				{z-index: 40;}
	
.layer.l-pocket-short			{z-index: 50;}
.layer.l-pocket-long 			{z-index: 50;}
	

.layer.l-lodgements-h-long		{z-index: 54;}
.layer.l-lodgements-h-short		{z-index: 54;}
.layer.l-lodgements				{z-index: 55;}	

.layer.l-cap-dustproof			{z-index: 60;}
.layer.l-cap-folding			{z-index: 60;}
.layer.l-cap-protective			{z-index: 60;}
.layer.l-cap-cover				{z-index: 60;}
/*
.layer.l-base 					{z-index: 10;background-image: url(./assets/images/box/base.png);}

.layer.l-handles-short 			{z-index: 20;background-image: url(./assets/images/box/handles-short.png);}
.layer.l-handles-long 			{z-index: 20;background-image: url(./assets/images/box/handles-long.png);}

.layer.l-partition-crosswise	{z-index: 30;background-image: url(./assets/images/box/partition-crosswise.png);}
.layer.l-partition-longitudinal	{z-index: 30;background-image: url(./assets/images/box/partition-longitudinal.png);}
.layer.l-partition-all			{z-index: 40;background-image: url(./assets/images/box/partition-all.png);}

.layer.l-profile-aluminum		{z-index: 30;background-image: url(./assets/images/box/profile-aluminum.png);}
.layer.l-profile-plastic 		{z-index: 30;background-image: url(./assets/images/box/profile-plastic.png);}
	
.layer.l-corners 				{z-index: 30;background-image: url(./assets/images/box/corners.png);}
	
.layer.l-sticker 				{z-index: 40;background-image: url(./assets/images/box/sticker.png);}
.layer.l-logo	 				{z-index: 40;background-image: url(./assets/images/box/logo.png);}
	
.layer.l-pocket-short			{z-index: 50;background-image: url(./assets/images/box/pocket-short.png);}
.layer.l-pocket-long 			{z-index: 50;background-image: url(./assets/images/box/pocket-long.png);}
	

.layer.l-lodgements-h-long		{z-index: 54;background-image: url(./assets/images/box/lodgements-h-long.png);}
.layer.l-lodgements-h-short		{z-index: 54;background-image: url(./assets/images/box/lodgements-h-short.png);}
.layer.l-lodgements				{z-index: 55;background-image: url(./assets/images/box/lodgements.png);}	

.layer.l-cap-dustproof			{z-index: 60;background-image: url(./assets/images/box/cap-dustproof.png);}
.layer.l-cap-folding			{z-index: 60;background-image: url(./assets/images/box/cap-folding.png);}
.layer.l-cap-protective			{z-index: 60;background-image: url(./assets/images/box/cap-protective.png);}
.layer.l-cap-cover				{z-index: 60;background-image: url(./assets/images/box/cap-cover.png);}
*/

html .fancybox-container .fancybox-slide .fancybox-content.modal-order .box-cols {
	max-width: initial;
}

.modal-order div.wpcf7-validation-errors,
.modal-order div.wpcf7-mail-sent-ok {
	text-align: center;
	color: #fff;
	font-size: 24px;
}

.modal-order .wpcf7-form.sent .line.cols {
	display: none!important;
}

.blue-balloon p.map_info_window a {
	color: #fff;
	text-decoration: none;
}

.block-header .block-inner .top .block-contacts .inner .phone__email {
	font-size: 1vw;
}

@media (max-width: 1024px) {
	html .block-header .block-inner .top .block-contacts .inner .phone__email {
		font-size: 18px;
	}	
}


.block-services__white.block-services .block-inner {
	background: none;	
	padding-top: 0;
}

main .block-services__white.block-services .block-inner .service-group .items .item .title {
	color: #000;
}

main .block-services__white.block-services .block-inner .service-group .items .item .img img {
	border-color: #000;
}

.calc-block span.rg-title,
.calc-block span.rg-left,
.calc-block span.rg-right {
	display: block;
}

#calc-image img {
	display: none;
}


#calc-image .layer.active {
	background: none!important;
}

#calc-image .layer.active img {
	display: block!important;	
}
.d-print {
	display: none!important;
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}



@media print {
	html .d-print {
		display: block!important;
	}
	.block-promo .block-inner {
		min-height: 0;
		height: auto;
	}
	
	.btn,
	.calc-block-1,
	.calc-block-2,
	.calc-block-3,
	.calc-block-4,
	.block-menu ul li:not(.logo),
	.block-soc,
	#block-middle,
	.block-promo .bottom,
	.block-footer,
	.modals,
	.block-about,
	.block-boxes,
	.block-order-form,
	.block-news,
	.block-contacts,
	.block-features,
	jdiv,
	body div#jivo-iframe-container:not(.jivo-c-mobile),
	.jivo_shadow,
	.jivo-expanded,
	.jivo_shadow,
	.bottom-panel,
	.show-mobile--flex.mobile-logo,
	.show-mobile.top-panel,
	.show-mobile--flex.mobile-icons,
	.block-header .block-menu,
	.bottom.show-tablet--flex,
	main .block-calc .block-inner .block-inner-2 .left,
	main .block-calc .block-inner .block-inner-2 .right,
	main .block-calc .block-inner .block-inner-2 .center .block-title,
	main .block-calc .block-inner .block-inner-2 .center .bottom,
	.fancybox-container,
	.block-services { 
		display: none!important;
	}
	
	
	.modals.hide #make-order .modal-inner .box-cols {
		display: block!important;
	}
	.modals.hide #make-order .modal-inner .box-cols .col-2 {
		width: 100%!important;
		display: block!important;
		color: #000!important;
		font-size: 18px!important;
	}
	
	.block-header .block-inner,
	.block-header {
		background: none!important;
	}
	
	html main .block-calc .block-inner,
	html, 
	body,
	body main {
		transform: none;
		position: static;
		background: none!important;
		display: block!important;
		width: 100%!important;
		flex: none;
		margin: 0!important;
		padding: 0!important;
	}
	
	main .block-calc {
		background: none!important;
		padding-top: 20px!important;
		padding-bottom: 20px!important;
	}
	.block-header .block-inner .top .block-menu .inner ul li.logo {
		margin-left: auto;
		margin-right: auto;
		display: inline-block!important;
	}
	
	.block-header .block-inner,
	.block-calc,
	.block-calc .block-inner, 
	.block-calc .block-inner-2 { 
		display: block!important;
		width: 100%!important;
		padding: 20px 20px 0!important;
	}
	
	.block-calc .block-inner-2 { 
		
	}

	
	
	html .d-print.logo img {
		width: 130px;
		height: 130px;
	}
	.block-calc .left .block-title {
		text-align: center!important;
		font-size: 35px!important;
		margin: 0!important;
		margin-bottom: 20px!important;
		letter-spacing: 0!important;
	}
	
	.block-calc .left {
		width: 100%!important;
	}
	
	.block-calc .center {
		width: 500px!important;
		/*height: 500px!important;*/
		height: 460px!important;
		margin-left: auto!important;
		margin-right: auto!important;
		flex: none!important;
		padding: 0!important;
	}
	
	#calc-image {
		width: 100%!important;
		height: 100%!important;
	}
	
	#calc-image > * {
		right: 100px!important;
		width: 90%!important;
	}
	
	#calc-image {
		display: block!important;
	}
	
	
	.modals.hide {
		display: block;
	}
	
	
	.head-print table {
		width: 100%;
		border: none;
		 table-layout: fixed;
	}
	
	.head-print table tr td {
		vertical-align: top;
	}
	
	html .head-print .info p,
	html .head-print .left-info p {
		margin-bottom: 10px;
	}
	
	html .head-print .logo {
		text-align: center;
	}
	
	html .head-print .left-info {
		text-align: left;
	}
	
	html .d-print.calc-text {	
		font-size: 30px;
		text-align: center;
	}
	
	html .head-print .info {	
		text-align: right;
	}
	
	html .head-print .info,
	html .head-print .left-info {
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 20px;
	}
}


@media (min-width: 1025px) {	
	.block-header .block-inner .middle .right,
	.block-header .block-inner .middle .left {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		min-height: 14.4vw;
	}
	
	.block-header .block-inner .middle .btn {
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
		-ms-flex-negative: 1;
		    flex-shrink: 1;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
		width: auto;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}
}

@media (max-width: 767px) {
	html main .block-calc .block-inner .block-inner-2 .center {
		display: block;
	}
}


html body main .block-calc .block-inner .block-inner-2 .center #calc-image {
	margin-right: 0;
}



.display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
}

.services-menu {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	
	margin-bottom: 2.36vw;
}

.services-menu li {
	list-style: none;
}

.services-menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.16vw;
	padding: 5px 10px;
	display: block;
}

.services-menu li a,
main .block-services .block-inner .service-group .items a.item .title,
main .block-services .block-inner .service-group .items a.item img,
main .block-services .block-inner .service-group .items .item {
	  -webkit-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;
}

main .block-services .block-inner .service-group .items a.item:hover .title {
	color: #333;
}
main .block-services .block-inner .service-group .items a.item:hover img {
	border-color: #333;
}

.services-menu li a:hover {
	color: #333;
}

main .block-services .block-inner .block-title {
	margin-bottom: 1.12vw;
}

@media (max-width: 1024px) {
	html main .block-services .block-inner .block-title {
		margin-bottom: 10px;
	}
	
	.services-menu {	
		margin-bottom: 30px;
	}
	
	.services-menu li a {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	#calc-image .layer.active img {
		max-height: 100%;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	
	html main .block-calc .block-inner .block-inner-2 .left {
		flex-grow: 0;
	}
}

main .block-services .block-inner .service-group .items .item .img img {
	width: 100%;
	height: auto;
}

#calc-image .layer img {
	max-height: 100%;
    max-width: 100%;
    margin: auto;
}

main .block-contacts .block-inner .btn1 {
	position: relative;
}

.block-contacts .map-description a {
    color: #2962a4;
}

#contacts-map > ymaps {
	height: 100%!important;
}

main .block-contacts .block-inner .block-title {
    color: #222524;
	z-index: 10;
	position: relative;
    font-size: 2.36vw;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    margin-top: 2.36vw;
}

main .block-contacts .block-inner .btn {
	top: 20px;
}

.block-contacts .map-description {
	margin-top: 1.95vw;
    font-size: 1.6vw;
	z-index: 20;
    position: relative;
    color: #2962a4;
    text-align: center;
	line-height: 1.4;
}

@media (min-width: 1025px) {
	main .block-contacts .block-inner + .block-inner {
		margin-top: -100px;
	}
}
@media (max-width: 1024px) {
	html main .block-contacts .block-inner .block-title {
		font-size: 40px;
		padding-top: 40px;
		margin-bottom: 20px;
	}
	
	html main .block-contacts .block-inner .btn {
		top: 20px;
	}
	
	.block-contacts .map-description {
		margin-top: 0;
		font-size: 17px;
	}
}