@mixin m($name, $size, $byHeight:false) {
    /*#{$name}: $size;*/
    @if $byHeight { 
        #{$name}: f-vh($size);
    } 
    @else {
        #{$name}: f-vw($size); 
    }
}

@function f-vw($target) {
    $vw-context: (1700 * .01) * 1px;
    
    $v-return: ($target/$vw-context) * 1vw;
    
    $v-return: ceil($v-return * 100)/100;
    
    @return $v-return;
}

@function f-vh($target, $height:1000) {
    $vw-context: ($height * .01) * 1px;
    @return ($target/$vw-context) * 1vh;
}
