$max: 100;
$step: 5;

@for $i from 1 through ceil($max/$step) {
    $value: ($i - 1) * $step;

    .mt-#{$value} {
        margin-top: #{$value}px;
    }

    .mb-#{$value} {
        margin-bottom: #{$value}px;
    }

    .pt-#{$value} {
        padding-top: #{$value}px;
    }

    .pb-#{$value} {
        padding-bottom: #{$value}px;
    }
}

.hide {
    display: none;
}

.btn {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &.btn-block {
        display: block;
        width: 100%;
    }

    &.btn-transparent {
        display: inline-block;
        color: #fefeff;
        border: 2px solid #ffffff;
        border-radius: f-vw(50px);
        background: transparent;
        font-size: f-vw(24px);
        font-weight: 500;
        line-height: 1;
        padding: f-vw(24px) f-vw(10px);
        padding: f-vw(10px) f-vw(24px);
        text-align: center;
        min-width: f-vw(344px);

        &:hover {
            color: darken(#fefeff, 10%);
            border-color: darken(#fefeff, 10%);
        }

        &.btn-transparent-inverse {
            color: #2962a4;
            border-color: #2962a4;

            &:hover {
                color: darken(#2962a4, 20%);
                border-color: darken(#2962a4, 20%);
            }
        }
    }
}

.text {
    color: #666666;
    font-size: f-vw(16px);
    font-weight: 400;
    line-height: 1.6;

    > :first-child {
        margin-top: 0;
    }

    p {
        margin-bottom: f-vw(10px);
    }

    h2,
    h3,
    h4 {
        margin-top: f-vw(40px);
        margin-bottom: f-vw(30px);
    }

    h2 {
        color: #4195eb;
        font-size: f-vw(20px);
        font-weight: 400;
        text-transform: uppercase;
    }

    h3 {
        color: #333;
        font-size: f-vw(20px);
        font-weight: 400;
        text-transform: uppercase;
    }

    h4 {
        color: #333;
        font-size: f-vw(16px);
        font-weight: bold;
    }

    ol,
    ul {
        li {
            margin-bottom: f-vw(20px);
            padding-left: f-vw(18px);
            list-style: none;
            position: relative;
            line-height: 1.6;

            &:before {
                left: 0;
                top: f-vw(6px);
                position: absolute;
                line-height: 1;
                border-radius: 50%;
                content: '';
                width: f-vw(7px);
                height: f-vw(7px);
                background-color: #4195eb;
            }

            >* {
                line-height: 1.2;
                margin-top: 0;
                margin-bottom: f-vw(8px);
            }
        }
    }

    ol {
        counter-reset: ol-counter;

        li {
            padding-left: f-vw(40px);

            &:before {
                display: block;
                top: f-vw(2px);
                content: counter(ol-counter);
                counter-increment: ol-counter;
                min-width: f-vw(20px);
                line-height: 1;
                color: #4195eb;
                font-size: f-vw(16px);
                height: f-vw(16px);
                font-weight: 300;
                text-transform: uppercase;
                background: transparent;
                border-radius: 0;
                border-right: 1px solid #4195eb;
            }
        }
    }

    blockquote {
        background: url(../images/quote.svg) no-repeat f-vw(45px) f-vw(44px);
        padding: f-vw(40px) f-vw(80px) f-vw(40px) f-vw(100px);
        color: #4195eb;
        font-size: f-vw(14px);
        font-style: italic;
        font-weight: 400;
        line-height: 1.6;
        border: 1px solid rgba(red(#4195eb), green(#4195eb), blue(#4195eb), .35);

        >*:last-child {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: none;
        color: #4195eb;
        border-bottom: 1px solid rgba(red(#4195eb), green(#4195eb), blue(#4195eb), .2);

        &:active,
        &:hover {
            text-decoration: none;
            color: #2663a6;
            border-color: rgba(red(#2663a6), green(#2663a6), blue(#2663a6), .3);
        }
    }

    i {
        color: #999999;
    }

    table {
        width: 100%;
        margin-top: f-vw(25px);
        margin-bottom: f-vw(25px);

        tr {

            td,
            th {
                padding: f-vw(15px) f-vw(20px);
                color: #333333;
            }

            td {
                background: #fdfdfd;
            }

            &:nth-child(even) {
                td {
                    background: #f2f2f2;
                }
            }
        }

        thead {
            tr {
                border-bottom: 1px solid #4195eb;

                td,
                th {
                    background: transparent;
                    text-align: left;
                    color: #999999;
                    font-style: italic;
                    font-size: f-vw(14px);
                    font-weight: 400;
                    line-height: 1.4;
                }
            }
        }
    }

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: f-vw(-15px);
        margin-right: f-vw(-15px);
        margin-bottom: f-vw(10px);

        &.gallery-columns-6 figure {
            width: 16.666%;
        }

        &.gallery-columns-5 figure {
            width: 20%;
        }

        &.gallery-columns-4 figure {
            width: 25%;
        }

        &.gallery-columns-3 figure {
            width: 33%;
        }

        &.gallery-columns-2 figure {
            width: 50%;
        }

        figure {
            padding-left: f-vw(15px);
            padding-right: f-vw(15px);
            margin-top: f-vw(30px);
            margin-bottom: f-vw(30px);

            /*background: #ababab;*/
            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                text-decoration: none;
                flex-direction: column;
                color: #000;
                figcaption {
                    margin-top: f-vw(20px);
                    flex: 1;
                }
            }
        }
    }
}

.video-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.wpcf7-submit {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: f-vw(30px);
    background-color: #2962a4;
    padding: f-vw(22px) f-vw(33px);
    border: none;
    line-height: f-vw(26px);
    color: #fefeff;
    font-size: f-vw(22px);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.form-group:not(.form-group__fileinput) {
    width: 100%;
    -webkit-box-shadow: inset 3px 4px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 3px 4px 3px rgba(0, 0, 0, 0.12);
    background-color: #f3f3f3;
    border: none;
    border-radius: f-vw(30px);
    margin-bottom: f-vw(20px);

    input,
    textarea {
        padding: f-vw(22px) f-vw(33px);
        background: none;
        line-height: f-vw(26px);
        border: none;
        text-align: center;
        color: #666666;
        font-size: f-vw(18px);
        font-family: inherit;
        font-weight: 500;
        width: 100%;
    }

    textarea {
        height: f-vw(100px);
    }

    &.form-group__prepend {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        input,
        textarea {
            padding-left: f-vw(92px);
            padding-left: f-vw(59px);
        }

        position: relative;

        .before {
            i {
                left: 0;
                top: 0;
                position: absolute;
                margin: f-vw(22px) 0 f-vw(22px) f-vw(33px);
                display: block;
                height: f-vw(26px);
                width: f-vw(26px);
                background-size: contain;
                background-position: 0 50%;
                background-repeat: no-repeat;
            }

            .i-comment {
                background-image: url(../images/i-comment.svg);
            }

            .i-phone {
                background-image: url(../images/i-phone.svg);
            }

            .i-user {
                background-image: url(../images/i-user.svg);
            }
        }
    }
}

.form-group__fileinput {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: left;

    .prepend {
        .title {
            margin-bottom: f-vw(6px);
            cursor: pointer;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #f3f3f3;
            font-size: f-vw(15px);
            font-weight: 400;
            line-height: 1.6;

            span {
                color: #f3f3f3;
                border-bottom: 1px solid rgba(red(#f3f3f3), green(#f3f3f3), blue(#f3f3f3), .5);
            }

            .i-download {
                width: f-vw(33px);
                height: f-vw(18px);
                display: block;
                background-size: contain;
                background: url(../images/i-download.svg) 0 50% no-repeat;
            }
        }

        .selected-file {
            padding-left: f-vw(33px);
            color: #2962a4;
            font-style: italic;
            font-size: f-vw(13px);
            font-weight: 400;
            line-height: 1.6;
        }
    }

    input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
        z-index: 10;
        ;
    }
}

html .irs {

    &,
    &.irs-with-grid {
        height: f-vw(30px);
    }

    >.irs {
        height: f-vw(6px);
    }

    .irs-bar-edge,
    .irs-bar,
    .irs-line {
        top: 0;
    }

    .irs-line {
        height: f-vw(4px);
    }

    .irs-single {
        display: none;
    }

    .irs-bar-edge,
    .irs-bar {
        background: #333333;
    }

    .irs-slider {
        border-radius: 50%;
        background: #2962a4;
        width: f-vw(10px);
        height: f-vw(10px);
        top: f-vw(-3px);
    }

    .irs-max,
    .irs-min {
        display: none;
    }

    .irs-grid {
        height: f-vw(12px);

        .irs-grid-text {
            color: #999999;
            font-style: italic;
            font-size: f-vw(12px);
            font-weight: 400;
            line-break: 1;
            top: 0;
            bottom: auto;
        }

        .irs-grid-pol {
            display: none;
        }
    }
}

/* Tablet */

@media (max-width: $t_Break) {
    html {
        .btn {
            &.btn-transparent {
                border-width: 2px;
                border-radius: 50px;
                font-size: 18px;
                padding: 22px 30px;
                min-width: 0;
            }

            &.btn-arrow--back,
            &.btn-arrow {
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    right: 30px;
                    left: auto;
                    width: 10px;
                    height: 17px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    background: url(../images/btn-right-arrow.svg) no-repeat 50% 50%;
                    background-size: contain;
                }
            }

            &.btn-arrow--back {
                &:after {
                    left: 30px;
                    right: auto;
                    transform: rotate(180deg) translateY(50%);
                }
            }
        }

        .irs {

            &,
            &.irs-with-grid {
                height: 30px;
            }

            >.irs {
                height: 6px;
            }

            .irs-line {
                height: 4px;
            }

            .irs-slider {
                width: 10px;
                height: 10px;
                top: -2px;
            }

            .irs-grid {
                height: 12px;

                .irs-grid-text {
                    font-size: 12px;
                }
            }
        }

        .form-group:not(.form-group__fileinput) {
            border-radius: 30px;
            margin-bottom: 20px;

            input,
            textarea {
                padding: 22px 33px;
                padding: 22px 13px;
                line-height: 26px;
                font-size: 18px;
            }

            textarea {
                height: 100px;
            }

            &.form-group__prepend {

                input,
                textarea {
                    padding-left: 92px;
                    padding-left: 59px;
                }

                .before {
                    i {
                        margin: 22px 0 22px 33px;
                        margin: 22px 0 22px 23px;
                        height: 26px;
                        width: 26px;
                    }
                }
            }
        }

        .form-group__fileinput {
            .prepend {
                .title {
                    margin-bottom: 6px;
                    font-size: 15px;

                    .i-download {
                        width: 33px;
                        height: 18px;
                    }
                }

                .selected-file {
                    padding-left: 33px;
                    font-size: 13px;
                }
            }
        }

        .wpcf7-submit {
            border-radius: 30px;
            padding: 16px 30px;
            padding: 22px 33px;
            line-height: 26px;
            font-size: 22px;
        }

        .text {
            font-size: 16px;
            font-size: 18px;

            p {
                margin-bottom: 10px;
            }

            h2,
            h3,
            h4 {
                margin-top: 40px;
                margin-bottom: 30px;
            }

            h2 {
                font-size: 20px;
            }

            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 16px;
            }

            ol,
            ul {
                li {
                    margin-bottom: 20px;
                    padding-left: 18px;

                    &:before {
                        top: 6px;
                        width: 7px;
                        height: 7px;
                    }

                    >* {
                        margin-bottom: 8px;
                    }
                }
            }

            ol {
                li {
                    padding-left: 40px;

                    &:before {
                        top: 2px;
                        min-width: 20px;
                        font-size: 16px;
                        height: 16px;
                    }
                }
            }

            blockquote {
                background-size: 25px 19px;
                background-position: 45px 44px;
                padding: 40px 80px 40px 100px;
                font-size: 14px;
            }

            table {
                margin-top: 25px;
                margin-bottom: 25px;

                tr {

                    td,
                    th {
                        padding: 15px 20px;
                    }
                }

                thead {
                    tr {

                        td,
                        th {
                            font-size: 14px;
                        }
                    }
                }
            }

            .gallery {
                margin: 0 -15px 10px;

                &.gallery-columns-6,
                &.gallery-columns-5,
                &.gallery-columns-4 {
                    figure {
                        width: 33.333%;
                    }
                }

                figure {
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-top: 30px;
                    margin-bottom: 30px;

                    a {
                        figcaption {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* END: Tablet */

/* Mobile */

@media (max-width: $m_Break) {
    html {
        .btn {
            &.btn-transparent {
                border-width: 2px;
                border-radius: 50px;
                font-size: 18px;
                padding: 17px 30px;
                min-width: 0;
            }
        }

        .wpcf7-submit {
            border-radius: 50px;
            padding: 17px 30px;
            line-height: 26px;
            font-size: 22px;
        }

        .form-group:not(.form-group__fileinput) {
            border-radius: 30px;
            margin-bottom: 20px;

            input,
            textarea {
                padding: 17px 30px;
                line-height: 26px;
                font-size: 18px;
            }

            &.form-group__prepend .before i {
                margin: 17px 0 17px 23px;
            }
        }

        .text {
            font-size: 16px;

            blockquote {
                background-position: 35px 44px;
                padding: 40px 40px 40px 80px;
                font-size: 14px;
            }

            table {
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 14px;

                tr {

                    td,
                    th {
                        padding: 5px 10px;
                    }
                }

                thead {
                    tr {

                        td,
                        th {
                            white-space: nowrap;
                            font-size: 14px;
                        }
                    }
                }
            }



            .gallery {
                margin: 0 -10px 20px;

                figure {
                    width: 50% !important;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    a {
                        figcaption {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* END: Mobile */

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .col {
        .col-inner {
            height: 100%;
            width: 100%;
        }
    }

    .width-1-2 {
        width: 50%;
    }

    .width-1-1 {
        width: 100%;
    }

    .width-1-3 {
        width: 33%;
    }

    .width-1-5 {
        width: 20%;
    }

    .width-2-3 {
        width: 66%;
    }

    .height-1-1 {
        height: 100vh;
    }

    .height-1-2 {
        height: 50vh;
    }
}

.table-responsive {
    overflow-x: auto;
}

.show-mobile--ib,
.show-mobile--flex,
.show-mobile,
.show-tablet--ib,
.show-tablet--flex,
.show-tablet,
.show-desktop--ib,
.show-desktop--flex,
.show-desktop {
    display: none !important;
}

/*@media (min-width: 992px) {*/

@media (min-width: $t_Break_up) {
    .show-desktop--flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .show-desktop {
        display: block !important;
    }

    .show-desktop--ib {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: $t_Break) {
    .show-tablet {
        display: block !important;
    }

    .show-tablet--ib {
        display: inline-block !important;
    }

    .show-tablet--flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (max-width: $m_Break) {
    .show-mobile {
        display: block !important;
    }

    .show-mobile--ib {
        display: inline-block !important;
    }

    .show-mobile--flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

/************************************************************************* Old **/

/* MD */

@media (max-width: 1199px) {}

/* SM - tablet */

@media (max-width: $t_Break) {
    .text-left-sm {
        text-align: left;
    }

    .text-right-sm {
        text-align: right;
    }

    @for $i from 1 through ceil($max/$step) {
        $value: ($i - 1) * $step;

        .mt-sm-#{$value} {
            margin-top: #{$value}px;
        }

        .mb-sm-#{$value} {
            margin-bottom: #{$value}px;
        }

        .pt-sm-#{$value} {
            padding-top: #{$value}px;
        }

        .pb-sm-#{$value} {
            padding-bottom: #{$value}px;
        }
    }
}

/* XS - mobile */

@media (max-width: $m_Break) {
    .text-center-xs {
        text-align: center;
    }

    .btn-block-xs {
        display: block;
        width: 100%;
        text-align: center;
    }

    @for $i from 1 through ceil($max/$step) {
        $value: ($i - 1) * $step;

        .mt-xs-#{$value} {
            margin-top: #{$value}px;
        }

        .mb-xs-#{$value} {
            margin-bottom: #{$value}px;
        }

        .pt-xs-#{$value} {
            padding-top: #{$value}px;
        }

        .pb-xs-#{$value} {
            padding-bottom: #{$value}px;
        }
    }
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Small devices */

@media (max-width: $t_Break) {
    .vertical-align-center-sm {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear {
    clear: both;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.overflow-hidden {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.vertical-align-middle,
.vertical-align-center {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-top {
    vertical-align: top;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
.wpcf7-submit,
button,
input[type='submit'] {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    /*-webkit-border-radius: 0px;*/
}

html body.mce-content-body {
    padding: 1px 10px !important;
    margin: 0;
}