@import '_reset.scss';
@import '_functions.scss';
html,
body {
    height: 100%;
    position: relative;
    font-family: "Fira Sans";
}

.logo {
    position: absolute;
    left: 50%;
    top: f-vw(25px);
    z-index: 10;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    .item {
        padding-left: f-vw(125px);
        padding-bottom: f-vw(125px);
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        &.item-1 {
            background-image: url(../images/p1.jpg);
        }
        &.item-2 {
            background-image: url(../images/p2.jpg);
            .item-inner {
                .title {
                    &:before {
                        background-color: #fe2d4a;
                    }
                }
            }
        }
        &.item-3 {
            background-image: url(../images/p3.jpg);
            .item-inner {
                .title {
                    &:before {
                        background-color: #ffc041;
                    }
                }
            }
        }
        .item-inner {
            z-index: 10;
            width: f-vw(361px);
            .title {
                margin-bottom: f-vw(25px);
                color: #ffffff;
                font-size: f-vw(41px);
                font-weight: 500;
                line-height: 1.2;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: f-vw(68px);
                    height: f-vw(5px);
                    background-color: #478bc8;
                    top: f-vw(-40px);
                    position: absolute;
                }
            }
            .subtitle {
                color: #ffffff;
                font-size: f-vw(16px);
                font-weight: 300;
                line-height: 1.4;
            }
        }
        &::before {
            -webkit-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            content: '';
        }
        &:hover {
            &::before {
                opacity: 0;
                ;
            }
        }
    }
}