body {
    font-family: 'Fira Sans', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 400;
    line-height: 1.2;
    font-size: f-vw(16px);
    background: #f3f3f3;
    main {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.screen-reader-text {
    display: none;
}

.block-promo {
    .block-inner {
        min-height: 100vh;
    }
}

.block-header {
    background: url(../images/promo-bg.jpg) 50% 50%;
    background-size: cover;
    &.block-header-inner {
        +main> :first-child {
            padding-top: f-vw(96px);
            padding-top: f-vw(126px);
        }
    }
    .block-inner {
        width: 100%;
        padding: f-vw(23px) $d_Padding;
        background: url(../images/promo-bg.jpg) 50% 50%;
        background-size: cover;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        >* {
            width: 100%;
        }
        .top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .block-soc {
                -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                order: 1;
                .inner {
                    margin-left: f-vw(-8px);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    a {
                        text-decoration: none;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        width: f-vw(50px);
                        height: f-vw(50px);
                        margin-right: f-vw(8px);
                        margin-left: f-vw(8px);
                        text-align: center;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        img {
                            height: auto;
                        }
                        &.fb {
                            img {
                                width: f-vw(14px);
                            }
                        }
                        &.vk {
                            img {
                                margin-left: f-vw(-3px);
                                width: f-vw(33px);
                            }
                        }
                        &.tw {
                            img {
                                width: f-vw(24px);
                            }
                        }
                    }
                }
            }
            .block-contacts {
                -webkit-box-ordinal-group: 4;
                -ms-flex-order: 3;
                order: 3;
                .inner {
                    color: #ffffff;
                    font-size: f-vw(14px);
                    font-size: f-vw(16px);
                    font-weight: 400;
                    text-align: center;
                    .phone {
                        a {
                            color: #ffffff;
                            text-decoration: none;
                        }
                        font-size: f-vw(22px);
                        font-size: f-vw(24px);
                        font-weight: 500;
                        line-height: 1.8;
                        line-height: 1.4;
                    }
                    .time {
                        opacity: 0.8;
                    }
                }
            }
            .block-menu {
                -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                order: 2;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                .inner {
                    ul {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-wrap: nowrap;
                        flex-wrap: nowrap;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        li {
                            &.logo {
                                a {
                                    background: url(../images/logo.svg) no-repeat;
                                    background-size: contain;
                                    opacity: 1;
                                    width: f-vw(120px);
                                    height: f-vw(120px);
                                    display: block;
                                    &:hover {
                                        border-bottom: none;
                                    }
                                    padding-bottom: 0;
                                }
                            }
                            margin-left: f-vw(15px);
                            margin-right: f-vw(15px);
                            a {
                                padding-bottom: f-vw(4px);
                                text-decoration: none;
                                opacity: 0.8;
                                color: #ffffff;
                                font-size: f-vw(16px);
                                font-size: f-vw(18px);
                                line-height: 1;
                                font-weight: 400;
                                &:hover {
                                    opacity: 1;
                                    border-bottom: 1px solid #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .middle {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            width: 100%;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            .left,
            .right {
                width: 28%;
            }
            .left {
                text-align: center;
                line-height: 1;
                color: #ffffff;
                .title {
                    font-size: f-vw(52px);
                    font-size: f-vw(54px);
                    font-weight: 500;
                    margin-bottom: f-vw(30px);
                }
                .subtitle {
                    font-size: f-vw(24px);
                    font-size: f-vw(26px);
                    font-weight: 400;
                    margin-bottom: f-vw(30px);
                }
            }
            .center {
                padding: f-vw(30px) 0;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                img {
                    max-width: f-vw(627px);
                    width: 100%;
                    height: auto;
                }
            }
            .right {
                color: #ffffff;
                font-size: f-vw(24px);
                font-weight: 400;
                line-height: 1.6;
                text-align: center;
                p {
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 80%;
                    margin-bottom: f-vw(30px);
                }
            }
        }
        .bottom {
            &.bottom-page-info {
                position: relative;
                width: f-vw(1010px);
                margin-left: auto;
                margin-right: auto;
                padding-top: f-vw(100px);
                .page-title {
                    color: #ffffff;
                    font-size: f-vw(40px);
                    font-weight: 500;
                    line-height: 1.4;
                    margin-bottom: f-vw(15px);
                }
                .breadcrumbs {
                    ul {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        li {
                            &,
                            a {
                                color: rgba(255, 255, 255, .8);
                                font-size: f-vw(14px);
                                font-size: f-vw(16px);
                                font-weight: 400;
                                line-height: 1.2;
                                text-decoration: none;
                            }
                            &:after {
                                margin-left: f-vw(9px);
                                margin-right: f-vw(9px);
                                content: '/';
                            }
                            &:last-child {
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .bg,
                .bg-2 {
                    position: absolute;
                    background: url(../images/header-box-bg.png) 50% 50% no-repeat;
                    background-size: contain;
                    width: f-vw(400px);
                    height: f-vw(270px);
                    right: f-vw(-70px);
                    bottom: -81%;
                }
                .bg-2 {
                    background-image: url(../images/header-box-bg-2.png);
                }
            }
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            a.next {
                text-align: center;
                opacity: 0.5;
                color: rgba(266, 255, 255, .5);
                font-size: f-vw(16px);
                font-weight: 400;
                line-height: 1;
                text-decoration: none;
                img {
                    margin: f-vw(16px) auto;
                    display: block;
                }
            }
        }
    }
}

main {
    .block-calc {
        background-color: #f3f3f3;
        padding: f-vw(120px) 0 f-vw(100px);
        counter-reset: cbcounter;
        .block-inner {
            padding-left: f-vw(195px);
            padding-right: f-vw(135px);
            .block-inner-2 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                .left {
                    width: f-vw(300px);
                }
                .center {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    >* {
                        display: flex;
                        flex-shrink: 0;
                    }
                    #calc-image {
                        height: auto;
                        flex-grow: 1;
                        margin-right: f-vw(100px);
                    }
                    .bottom {
                        justify-content: center;
                        flex-basis: auto;
                    }
                }
                .right {
                    width: f-vw(390px);
                }
                .block-title {
                    color: #222524;
                    font-size: f-vw(40px);
                    margin-bottom: f-vw(26px);
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: f-vw(2px);
                }
                .calc-block {
                    padding-left: f-vw(8px);
                    margin-bottom: f-vw(36px);
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .cb-title {
                        margin-left: f-vw(-8px);
                        margin-bottom: f-vw(20px);
                        padding: f-vw(10px) f-vw(20px);
                        border-radius: f-vw(10px);
                        background-color: #ffffff;
                        display: inline-block;
                        color: #333333;
                        font-style: italic;
                        font-size: f-vw(16px);
                        font-weight: 400;
                        counter-increment: cbcounter;
                        &:before {
                            margin-right: f-vw(7px);
                            content: counters(cbcounter, ".", decimal-leading-zero)".";
                            color: #999999;
                        }
                    }
                    .rg-range {
                        margin-top: f-vw(15px);
                        .rg-range-title {
                            color: #999999;
                            font-style: italic;
                            font-size: f-vw(12px);
                            font-weight: 400;
                            margin-bottom: f-vw(14px);
                            .value {
                                color: #333333;
                            }
                        }
                    }
                    .radio-group {
                        >.rg-input {
                            >input:checked {
                                ~.rg-right {
                                    .rg-subparams {
                                        display: block;
                                    }
                                    .rg-subtitle {
                                        display: none;
                                    }
                                }
                            }
                            .rg-subtitle {
                                display: block;
                            }
                            .rg-subparams {
                                display: none;
                            }
                        }
                    }
                    .rg-range+.rg-checkbox {
                        margin-top: f-vw(14px);
                    }
                    .rg-checkbox {
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        >input {
                            display: none;
                            &:checked {
                                ~.checkbox-styler {
                                    &:before {
                                        top: f-vw(-4px);
                                        right: f-vw(-4px);
                                        width: f-vw(17px);
                                        height: f-vw(15px);
                                        background: url(../images/tick.svg) 50% 50% no-repeat;
                                        background-size: contain;
                                        position: absolute;
                                        content: '';
                                        display: block;
                                    }
                                }
                            }
                        }
                        .checkbox-styler {
                            position: relative;
                            margin-right: f-vw(10px);
                            display: block;
                            width: f-vw(13px);
                            height: f-vw(13px);
                            border: 1px solid #999999;
                            background-color: transparent;
                            border-radius: 1px;
                        }
                        .checkbox-title {
                            margin-top: f-vw(2px);
                            color: #2962a4;
                            font-style: italic;
                            font-size: f-vw(12px);
                            font-weight: 400;
                        }
                    }
                    .row-inputs {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-wrap: nowrap;
                        flex-wrap: nowrap;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        .ri-input {
                            margin-bottom: 0;
                            background: #fff;
                            width: f-vw(100px);
                        }
                        .divider {
                            margin: 0 f-vw(14px);
                        }
                    }
                    .rg-input {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin-bottom: f-vw(13px);
                        &.rg-input__withsubparams {
                            >.rg-right>.rg-title {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                &:after {
                                    margin-top: f-vw(3px);
                                    margin-left: f-vw(10px);
                                    content: '';
                                    width: f-vw(10px);
                                    height: f-vw(6px);
                                    background: url(../images/open.svg);
                                    background-size: contain;
                                    display: inline-block;
                                }
                            }
                        }
                        >input {
                            display: none;
                        }
                        &.rg-input__filled>input,
                        >input:checked {
                            ~.rg-left {
                                .radio-styler {
                                    border-color: #2962a4;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    justify-content: center;
                                    &:before {
                                        content: '';
                                        background: #2962a4;
                                        width: f-vw(12px);
                                        height: f-vw(12px);
                                        border-radius: 50%;
                                        display: block;
                                    }
                                }
                            }
                            ~.rg-right {
                                .rg-subinputs {
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                                .rg-title {
                                    color: #2962a4;
                                    &:after {
                                        display: none;
                                        /*transform: rotate(180deg);*/
                                    }
                                }
                            }
                        }
                        .rg-left {
                            width: f-vw(40px);
                            .radio-styler {
                                cursor: pointer;
                                display: inline-block;
                                border-radius: 50%;
                                border: 1px solid #999999;
                                background: transparent;
                                width: f-vw(16px);
                                height: f-vw(16px);
                            }
                        }
                        .rg-right {
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            line-height: 1.2;
                            .rg-subinputs {
                                display: none;
                                margin-top: f-vw(15px);
                                margin-bottom: f-vw(10px);
                                display: none;
                                &.rg-subinputs__block {
                                    -webkit-box-orient: vertical;
                                    -webkit-box-direction: normal;
                                    -ms-flex-direction: column;
                                    flex-direction: column;
                                    >* {
                                        margin-left: 0;
                                    }
                                }
                                >* {
                                    margin-right: f-vw(15px);
                                    margin-bottom: f-vw(5px);
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                            .rg-title {
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                cursor: pointer;
                                margin-top: f-vw(-4px);
                                margin-bottom: f-vw(6px);
                                line-height: 1.2;
                                color: #666666;
                                font-size: f-vw(20px);
                                font-weight: 400;
                                letter-spacing: f-vw(1.5px);
                            }
                            .rg-subtitle {
                                cursor: pointer;
                                color: #999999;
                                font-style: italic;
                                font-size: f-vw(12px);
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
    .block-services {
        .block-inner {
            padding: f-vw(112px) $d_Padding f-vw(70px);
            background: url(../images/services-bg.jpg) 50% 50%;
            background-size: cover;
            text-align: center;
            .block-title {
                color: #ffffff;
                font-size: f-vw(40px);
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: f-vw(70px);
                text-align: center;
            }
            .service-group {
                margin-bottom: f-vw(70px);
                margin-bottom: f-vw(40px);
                &:last-of-type {
                    margin-bottom: 0;
                }
                .sg-title {
                    color: #333333;
                    font-size: f-vw(20px);
                    font-weight: 700;
                    letter-spacing: f-vw(4px);
                    text-align: center;
                    margin-bottom: f-vw(40px);
                }
                .items {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    .item {
                        text-align: center;
                        text-decoration: none;
                        margin-left: f-vw(15px);
                        margin-right: f-vw(15px);
                        margin-left: f-vw(5px);
                        margin-right: f-vw(5px);
                        margin-bottom: f-vw(30px);
                        width: f-vw(118px);
                        width: f-vw(140px);
                        .img {
                            margin-bottom: f-vw(5px);
                            display: block;
                            img {
                                border-radius: 50%;
                                padding: f-vw(8px);
                                border: 1px solid #fff;
                            }
                        }
                        .title {
                            text-align: center;
                            color: #ffffff;
                            font-size: f-vw(18px);
                            font-weight: 400;
                            line-height: 1.4;
                        }
                    }
                }
            }
            >.btn {
                margin-top: f-vw(33px);
            }
        }
    }
    .block-features {
        .block-inner {
            padding-top: f-vw(100px);
            padding-bottom: f-vw(50px);
            .block-title {
                text-align: center;
                color: #222524;
                font-size: f-vw(40px);
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: f-vw(55px);
            }
            .feature-table {
                text-align: left;
                position: relative;
                padding-top: f-vw(65px);
                .line {
                    &,
                    .left-block {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        min-height: f-vw(194px);
                        width: 100%;
                    }
                    padding: f-vw(40px) 0;
                    &:nth-child(odd) {
                        background-color: #eaeaea;
                    }
                    .right,
                    .left {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        width: 27%;
                        .f-item {
                            min-width: f-vw(300px);
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            .img {
                                width: f-vw(80px);
                                img {
                                    max-width: f-vw(48px);
                                    max-height: f-vw(48px);
                                }
                            }
                            .title {
                                color: #5a5a5c;
                                font-size: f-vw(18px);
                                font-weight: 400;
                                line-height: 1.4;
                            }
                        }
                    }
                }
                .center {
                    pointer-events: none;
                    top: 50%;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    img {
                        width: f-vw(657px);
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            text-align: center;
            >.btn {
                margin-top: f-vw(54px);
            }
        }
    }
    .block-about {
        .block-inner {
            padding: f-vw(100px) $d_Padding f-vw(90px);
            background-color: #4195ea;
            text-align: center;
            .block-title {
                text-align: center;
                color: #ffffff;
                font-size: f-vw(40px);
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: f-vw(44px);
            }
            .block-description {
                color: #ffffff;
                font-size: f-vw(18px);
                font-weight: 400;
                line-height: 2;
                text-align: center;
                margin: 0 auto f-vw(44px);
                max-width: f-vw(930px);
            }
            .block-image-slider {
                margin-bottom: f-vw(50px);
                .swiper-container {
                    .inner {
                        .item {
                            .item-inner {
                                display: block;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                                    content: '';
                                    border: f-vw(4px) solid rgba(266, 255, 255, .7);
                                    pointer-events: none;
                                }
                                padding-bottom: 100%;
                                width: 100%;
                                height: 0;
                                background-position: 50% 50%;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    .swiper-pagination {
                        position: static;
                        margin-top: f-vw(30px);
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        .swiper-pagination-bullet {
                            opacity: 0.35;
                            background: #fff;
                            margin-left: f-vw(8px);
                            margin-right: f-vw(8px);
                            height: f-vw(13px);
                            width: f-vw(13px);
                            &.swiper-pagination-bullet-active {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .block-boxes {
        .block-inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .box-item {
                background-color: #ababab;
                width: 25%;
                min-height: f-vw(509px);
                background-size: f-vw(305px), cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                text-decoration: none;
                &:nth-child(8n+6),
                &:nth-child(8n+8),
                &:nth-child(8n+3),
                &:nth-child(8n+1) {
                    background-color: #d1d1d1;
                }
                &:hover {
                    .box-item-inner {
                        opacity: 1;
                    }
                }
                .box-item-inner {
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                    opacity: 0;
                    position: relative;
                    &:before {
                        pointer-events: none;
                        border: 1px solid rgba(255, 255, 255, .25);
                        position: absolute;
                        left: f-vw(15px);
                        right: f-vw(15px);
                        top: f-vw(15px);
                        bottom: f-vw(15px);
                        content: '';
                    }
                    background-color: rgba(red(#4195ea), green(#4195ea), blue(#4195ea), .5);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    height: 100%;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    .content {
                        text-align: center;
                        width: 100%;
                        >* {
                            max-width: 50%;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        .title {
                            margin-bottom: f-vw(30px);
                            color: #ffffff;
                            font-size: f-vw(30px);
                            line-height: 1.2;
                            text-transform: uppercase;
                            font-weight: 400;
                            .line-1 {
                                display: block;
                            }
                        }
                        .subtitle {
                            text-align: center;
                            color: #ffffff;
                            font-size: f-vw(16px);
                            font-weight: 400;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }
    .block-order-form {
        padding: f-vw(90px) $d_Padding;
        background: url(../images/order-form-bg.jpg) 50% 50%;
        background-size: cover;
        .block-inner {
            .block-title {
                color: #ffffff;
                font-size: f-vw(52px);
                font-weight: 500;
                margin-bottom: f-vw(18px);
                text-align: center;
            }
            .block-subtitle {
                color: #ffffff;
                font-size: f-vw(24px);
                font-weight: 400;
                line-height: 1.6;
                margin-bottom: f-vw(60px);
                text-align: center;
            }
            .line {
                max-width: f-vw(1056px);
                margin: f-vw(-9px) auto;
                .col {
                    padding-left: f-vw(9px);
                    padding-right: f-vw(9px);
                }
                .wpcf7-form-control-wrap {
                    width: 100%;
                }
            }
        }
    }
    .block-news-items {
        margin-bottom: f-vw(100px);
        .block-inner {
            width: f-vw(1140px);
            margin: 0 auto;
            .year {
                color: #222524;
                font-size: f-vw(40px);
                font-weight: 500;
                line-height: 1.4;
                margin-bottom: f-vw(32px);
                text-align: center;
            }
            .items {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-left: f-vw(-15px);
                margin-right: f-vw(-15px);
                .item {
                    -ms-flex-preferred-size: 33%;
                    flex-basis: 33%;
                    padding: 0 f-vw(15px);
                    margin-bottom: f-vw(35px);
                    text-decoration: none;
                    &:hover {
                        .item-inner {
                            background: #fff;
                            .item-footer {
                                color: #222524;
                            }
                            .title {
                                color: #2962a4;
                                border-color: rgba(red(#2962a4), green(#2962a4), blue(#2962a4), .3);
                            }
                        }
                    }
                    .item-inner {
                        -webkit-transition: all 0.3s ease-out;
                        transition: all 0.3s ease-out;
                        background: transparent;
                        padding: f-vw(20px);
                        height: 100%;
                        .img {
                            padding-bottom: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            margin-bottom: f-vw(22px);
                        }
                        .title {
                            -webkit-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
                            color: #4195ea;
                            border-bottom: 1px solid rgba(red(#4195ea), green(#4195ea), blue(#4195ea), .2);
                            font-size: f-vw(15px);
                            font-weight: 400;
                            line-height: 1.6;
                            display: inline;
                        }
                        .item-footer {
                            -webkit-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
                            margin-top: f-vw(20px);
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            color: #999999;
                            font-size: f-vw(12px);
                            font-weight: 400;
                            line-height: 1.2;
                            >* {
                                margin-left: f-vw(3px);
                                margin-right: f-vw(3px);
                            }
                            .category {
                                border-bottom: 1px solid rgba(red(#999999), green(#999999), blue(#999999), .5);
                            }
                        }
                    }
                }
            }
            .load-more {
                margin-top: f-vw(38px);
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                &:before,
                &:after {
                    content: '';
                    display: block;
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    height: 1px;
                    background: #e5e5e5;
                }
                a {
                    margin-left: f-vw(20px);
                    margin-right: f-vw(20px);
                    display: inline-block;
                    min-width: f-vw(210px);
                    border: 2px solid #e5e5e5;
                    background-color: transparent;
                    text-decoration: none;
                    color: #999999;
                    font-size: f-vw(15px);
                    font-weight: 500;
                    padding-top: f-vw(14px);
                    padding-bottom: f-vw(14px);
                    line-height: 1;
                    border-radius: 30px;
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .block-news {
        background-color: #f3f3f3;
        .block-inner {
            max-width: f-vw(1140px);
            padding-top: f-vw(90px);
            margin: 0 auto;
            text-align: center;
            .block-title {
                color: #222524;
                font-size: f-vw(40px);
                font-weight: 500;
                text-align: center;
                line-height: 1.2;
                margin-bottom: f-vw(40px);
            }
            .items {
                text-align: left;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 0 f-vw(-15px) f-vw(16px);
                .item {
                    display: block;
                    cursor: pointer;
                    text-decoration: none;
                    padding: f-vw(25px) f-vw(35px);
                    margin-left: f-vw(15px);
                    margin-right: f-vw(15px);
                    background-color: #ffffff;
                    border-radius: f-vw(10px);
                    .title {
                        color: #4195ea;
                        border-bottom: 1px solid rgba(red(#4195ea), green(#4195ea), blue(#4195ea), .2);
                        font-size: f-vw(15px);
                        font-weight: 400;
                        line-height: 1.6;
                        display: inline;
                    }
                    .item-footer {
                        margin-top: f-vw(20px);
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        color: #999999;
                        font-size: f-vw(12px);
                        font-weight: 400;
                        line-height: 1.2;
                        >* {
                            margin-left: f-vw(3px);
                            margin-right: f-vw(3px);
                        }
                        .category {
                            border-bottom: 1px solid rgba(red(#999999), green(#999999), blue(#999999), .5);
                        }
                    }
                    &:hover {
                        .title {
                            color: #2962a4;
                            border-color: rgba(red(#2962a4), green(#2962a4), blue(#2962a4), .3);
                        }
                        .item-footer {
                            color: #222524;
                            border-color: rgba(red(#222524), green(#222524), blue(#222524), .5);
                        }
                    }
                }
            }
            .showall {
                color: #999999;
                font-size: f-vw(12px);
                font-weight: 400;
                line-height: 1.8;
                text-decoration: underline;
            }
        }
    }
    .block-contacts {
        background-color: #f3f3f3;
        .block-inner {
            position: relative;
            &:before {
                z-index: 10;
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 243, 243, 1)), color-stop(40%, rgba(243, 243, 243, 0)), to(rgba(243, 243, 243, 0)));
                background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 0) 40%, rgba(243, 243, 243, 0) 100%);
                pointer-events: none;
            }
            .btn {
                z-index: 15;
                top: f-vw(50px);
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            #contacts-map {
                width: 100%;
                height: f-vw(750px);
            }
        }
    }
    .block-consult {
        background: url(../images/consult-bg.jpg) 50% 50% no-repeat;
        background-size: cover;
        .block-inner {
            margin: 0 auto;
            padding-top: f-vw(90px);
            padding-bottom: f-vw(90px);
            width: f-vw(1070px);
            .block-title {
                text-align: center;
                color: #ffffff;
                font-size: f-vw(52px);
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: f-vw(10px);
            }
            .block-subtitle {
                text-align: center;
                margin-bottom: f-vw(60px);
                color: #ffffff;
                font-size: f-vw(24px);
                font-weight: 400;
                line-height: 1.2;
            }
            .line {
                .col {
                    padding-left: f-vw(9px);
                    padding-right: f-vw(9px);
                }
                .wpcf7-form-control-wrap {
                    width: 100%;
                }
            }
            .note {
                text-align: center;
                color: #2962a4;
                font-size: f-vw(14px);
                font-weight: 400;
                line-height: 1.2;
            }
        }
    }
    .block-content {
        background: #fff;
        .block-inner {
            width: f-vw(1010px);
            padding-bottom: f-vw(100px);
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.block-footer {
    background-color: #4195ea;
    .block-inner {
        text-align: center;
        margin: f-vw(65px) auto;
        width: 100%;
        color: #ffffff;
        font-size: f-vw(15px);
        font-weight: 400;
        line-height: 1.6;
        .description {
            margin-bottom: f-vw(35px);
            margin-bottom: f-vw(10px);
        }
        .copyright {
            font-size: f-vw(12px);
            margin-bottom: f-vw(40px);
            a {
                color: #ffffff;
                text-decoration: underline;
            }
        }
        .block-soc {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            .inner {
                margin-left: f-vw(-8px);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                a {
                    text-decoration: none;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    width: f-vw(39px);
                    height: f-vw(39px);
                    margin-right: f-vw(8px);
                    margin-left: f-vw(8px);
                    text-align: center;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    opacity: .5;
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                    &:hover {
                        opacity: 1;
                    }
                    img {
                        height: auto;
                    }
                    &.fb {
                        img {
                            width: f-vw(10px);
                        }
                    }
                    &.vk {
                        img {
                            margin-left: f-vw(-3px);
                            width: f-vw(23px);
                        }
                    }
                    &.tw {
                        img {
                            width: f-vw(20px);
                        }
                    }
                }
            }
        }
    }
}

.fancybox-container {
    .fancybox-bg {
        background: url(../images/modal-bg.jpg) 50% 50%;
        background-size: cover;
        opacity: 1;
    }
    .fancybox-close-small {
        width: f-vw(48px);
        height: f-vw(48px);
        background-color: #ffffff;
        border-radius: 50%;
        top: f-vw(45px);
        right: f-vw(45px);
        padding: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        path {
            color: #469aec;
        }
        &:hover {
            opacity: .9;
        }
    }
    .fancybox-slide {
        height: 100%;
        padding: 0;
        &:before {
            display: none;
        }
        .fancybox-content {
            margin: 0;
            background: transparent;
            padding: 0;
            width: 100%;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            .modal-inner {
                height: 100%;
                padding: f-vw(60px) 0;
                width: f-vw(730px);
                .modal-title {
                    text-align: center;
                    color: #ffffff;
                    margin-bottom: f-vw(20px);
                    font-size: f-vw(52px);
                    font-weight: 500;
                    line-height: 1.2;
                }
                .modal-subtitle {
                    text-align: center;
                    color: #ffffff;
                    font-size: f-vw(24px);
                    font-weight: 400;
                    line-height: 1.2;
                    margin-bottom: f-vw(20px);
                }
            }
            &.modal-order {
                .line {
                    max-width: f-vw(1056px);
                    margin: f-vw(-9px) auto;
                    .col {
                        padding-left: f-vw(9px);
                        padding-right: f-vw(9px);
                    }
                    .wpcf7-form-control-wrap {
                        width: 100%;
                    }
                    .form-group__fileinput {
                        margin-top: f-vw(10px);
                        margin-bottom: f-vw(30px);
                    }
                }
                .box-cols {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    min-height: f-vw(188px);
                    margin: f-vw(30px) auto;
                    max-width: 660px;
                    .col-2 {
                        color: #f3f3f3;
                        font-size: f-vw(15px);
                        font-weight: 400;
                        line-height: f-vw(24px);
                    }
                }
            }
        }
    }
}