/* Mobile */

@media (max-width: $m_Break) {
    html {
        body.menu--opened {
            overflow: hidden;
            .block-header .block-inner .top .block-menu {
                transform: none;
            }
        }
        .block-header {
            position: relative;
            &.block-header-inner {
                .block-inner {
                    padding-bottom: 45px;
                }
                +main> :first-child {
                    padding-top: 60px;
                }
            }
            .block-inner {
                padding: 30px $m_Padding 60px;
                position: static;
                .top {
                    .mobile-icons {
                        -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                        order: 1;
                        width: 50%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin-left: -6px;
                        .call,
                        .menu {
                            border: 1px solid #fff;
                            display: block;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            margin-right: 6px;
                            margin-left: 6px;
                        }
                        .menu {
                            background: url(../images/hamburger.svg) no-repeat 50% 50%;
                            background-size: 17px 15px;
                        }
                        .call {
                            background: url(../images/phone.svg) no-repeat 50% 50%;
                            background-size: 18px 18px;
                        }
                    }
                    .block-soc {
                        -webkit-box-ordinal-group: 3;
                        -ms-flex-order: 2;
                        order: 2;
                        .inner {
                            margin-left: -6px;
                            a {
                                width: 40px;
                                height: 40px;
                                margin-right: 6px;
                                margin-left: 6px;
                                &.fb img {
                                    width: 11px;
                                }
                                &.vk img {
                                    margin-left: -3px;
                                    width: 26px;
                                }
                                &.tw img {
                                    width: 19px;
                                }
                            }
                        }
                    }
                    .mobile-logo {
                        width: 100%;
                        -webkit-box-ordinal-group: 4;
                        -ms-flex-order: 3;
                        order: 3;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        padding: 40px 0;
                        img {
                            width: 120px;
                            height: auto;
                        }
                    }
                    .block-contacts {
                        display: none;
                    }
                    .block-menu {
                        transition: all 0.3s ease-out;
                        position: fixed;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: 0;
                        -webkit-transform: translate(-100%, -100%);
                        transform: translate(-100%, -100%);
                        width: 100%;
                        height: 100%;
                        background: url(../images/menu-bg.jpg) no-repeat 50% 50%;
                        background-size: cover;
                        z-index: 10000;
                        overflow: auto;
                        .inner {
                            display: flex;
                            min-height: 100%;
                            flex-direction: column;
                            .top-panel {
                                position: relative;
                                align-items: center;
                                background-color: #2a7ac5;
                                display: flex;
                                justify-content: space-between;
                                padding: 30px $m_Padding 30px $m_Padding+40;
                                flex-wrap: wrap;
                                .close-menu {
                                    position: absolute;
                                    left: 30px;
                                    top: 30px;
                                    background: #fff url(../images/close-blue.svg) no-repeat 50% 50%;
                                    text-decoration: none;
                                    text-indent: -999px;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                }
                                .phone {
                                    text-align: center;
                                    width: 100%;
                                    text-decoration: none;
                                    color: #ffffff;
                                    font-size: 24px;
                                    font-weight: 500;
                                    line-height: 1.2;
                                    margin-bottom: 10px;
                                }
                            }
                            .bottom-panel {
                                display: flex;
                                justify-content: center;
                                margin-top: 40px;
                                margin-bottom: 40px;
                            }
                            .middle-panel {
                                flex: 2;
                                display: flex;
                                justify-content: initial;
                                flex-direction: column;
                                align-items: center;
                                padding-top: 50px;
                                ul {
                                    display: block;
                                    li {
                                        margin-bottom: 24px;
                                        text-align: center;
                                        &.logo {
                                            display: none;
                                        }
                                        margin-left: 0;
                                        margin-right: 0;
                                        a {
                                            opacity: 1;
                                            padding-bottom: 0;
                                            font-size: 25px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .middle {
                    margin-bottom: 25px;
                    display: block;
                    .left {
                        width: 100%;
                        .title {
                            font-size: 40px;
                            margin-bottom: 25px;
                            text-align: center;
                        }
                        .subtitle {
                            display: none;
                        }
                    }
                    .center {
                        padding: 0;
                        img {
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .right {
                        width: 100%;
                        display: block;
                        text-align: center;
                        p {
                            display: none;
                        }
                        .btn {
                            width: 85%;
                        }
                    }
                }
                .bottom {
                    &.bottom-page-info {
                        width: 100%;
                        padding-top: 0;
                        .page-title {
                            text-align: center;
                            font-size: 40px;
                            margin-bottom: 10px;
                            line-height: 1.2;
                        }
                        .breadcrumbs {
                            ul {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                li {
                                    &,
                                    a {
                                        font-size: 14px;
                                    }
                                    &:after {
                                        margin-left: 9px;
                                        margin-right: 9px;
                                    }
                                }
                            }
                        }
                        .bg,
                        .bg-2 {
                            display: none;
                        }
                    }
                    /* end!!!*/
                    a.next {
                        display: none;
                    }
                }
            }
        }
        main {
            .block-calc {
                padding: 75px 0 70px;
                &.step-1 {
                    .block-inner {
                        .block-inner-2 {
                            .right {}
                        }
                    }
                }
                &.step-2 {
                    .block-inner {
                        .block-inner-2 {
                            transform: none;
                            .left {
                                transform: translateX(-120%);
                            }
                            .right {
                                transform: translateX(-100%);
                            }
                        }
                    }
                }
                .block-inner {
                    padding: 0;
                    margin-left: $m_Padding;
                    margin-right: $m_Padding;
                    overflow: hidden;
                    .block-inner-2 {
                        flex-wrap: wrap;
                        flex-direction: row;
                        transition: all 0.3s ease-out;
                        width: 200%;
                        .left {
                            -webkit-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
                            width: 50%;
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            padding-right: 0;
                            order: 2;
                            flex-basis: 50%;
                            height: 100%;
                            .block-title {
                                display: none;
                            }
                            .bottom {
                                margin-top: 30px;
                            }
                        }
                        .center {
                            margin-right: 1px;
                            -webkit-box-ordinal-group: 2;
                            -ms-flex-order: 1;
                            order: 1;
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            width: 50%;
                            flex-basis: 50%;
                            flex-direction: column;
                            flex-grow: 0;
                            .block-title {
                                text-align: center;
                            }
                            #calc-image {
                                -webkit-box-flex: 1;
                                -ms-flex: 1;
                                flex: 1;
                                height: 337px;
                            }
                            .bottom {
                                display: none;
                            }
                        }
                        .right {
                            -webkit-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
                            display: flex;
                            flex-direction: column;
                            -webkit-box-ordinal-group: 4;
                            -ms-flex-order: 3;
                            order: 3;
                            padding-left: 0;
                            width: 50%;
                            flex-basis: 50%;
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            height: 100%;
                        }
                        .block-title {
                            font-size: 40px;
                            margin-bottom: 26px;
                            letter-spacing: 2px;
                        }
                        .calc-block {
                            padding-left: 8px;
                            margin-bottom: 36px;
                            .cb-title {
                                margin-left: -8px;
                                margin-bottom: 20px;
                                padding: 10px 20px;
                                border-radius: 10px;
                                font-size: 16px;
                                &:before {
                                    margin-right: 7px;
                                }
                            }
                            .rg-range {
                                margin-top: 15px;
                                margin-right: 20px;
                                .rg-range-title {
                                    font-size: 12px;
                                    margin-bottom: 14px;
                                }
                            }
                            .rg-range+.rg-checkbox {
                                margin-top: 14px;
                            }
                            .rg-checkbox {
                                >input {
                                    &:checked {
                                        ~.checkbox-styler {
                                            &:before {
                                                top: -4px;
                                                right: -4px;
                                                width: 17px;
                                                height: 15px;
                                            }
                                        }
                                    }
                                }
                                .checkbox-styler {
                                    margin-right: 10px;
                                    width: 13px;
                                    height: 13px;
                                }
                                .checkbox-title {
                                    margin-top: 2px;
                                    font-size: 12px;
                                }
                            }
                            .row-inputs {
                                .ri-input {
                                    width: 100px;
                                }
                                .divider {
                                    margin: 0 14px;
                                }
                            }
                            .rg-input {
                                margin-bottom: 13px;
                                &.rg-input__withsubparams {
                                    >.rg-right>.rg-title {
                                        padding-right: 10px;
                                        &:after {
                                            margin-top: 3px;
                                            margin-left: 10px;
                                            background-size: 10px 6px;
                                            width: 10px;
                                            height: 6px;
                                        }
                                    }
                                }
                                >input {
                                    &:checked {
                                        ~.rg-left {
                                            .radio-styler {
                                                &:before {
                                                    width: 12px;
                                                    height: 12px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .rg-left {
                                    width: 40px;
                                    .radio-styler {
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                                .rg-right {
                                    .rg-subinputs {
                                        margin-top: 15px;
                                        margin-bottom: 10px;
                                        >* {
                                            margin-right: 15px;
                                        }
                                    }
                                    .rg-title {
                                        margin-top: -4px;
                                        margin-bottom: 6px;
                                        font-size: 20px;
                                        letter-spacing: 1.5px;
                                    }
                                    .rg-subtitle {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom {
                    margin-top: 60px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    a.next {
                        text-align: center;
                        color: #333;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1;
                        text-decoration: none;
                        img {
                            margin: 16px auto;
                            display: block;
                        }
                    }
                }
            }
            .block-services {
                .block-inner {
                    padding: 80px $m_Padding 70px;
                    .block-title {
                        font-size: 40px;
                        margin-bottom: 70px;
                    }
                    .service-group {
                        margin-bottom: 20px;
                        .sg-title {
                            font-size: 20px;
                            letter-spacing: 4px;
                            margin-bottom: 30px;
                        }
                        .items {
                            margin: 0 -5px;
                            .item {
                                padding-left: 5px;
                                margin: 0 0 30px;
                                padding-right: 5px;
                                width: 50%;
                                .img {
                                    margin-bottom: 5px;
                                    display: block;
                                    img {
                                        padding: 8px;
                                        border-width: 1px;
                                    }
                                }
                                .title {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    >.btn {
                        margin-top: 33px;
                    }
                }
            }
            .block-features {
                .block-inner {
                    padding-top: 65px;
                    padding-bottom: 80px;
                    .block-title {
                        margin-left: 0;
                        max-width: 100%;
                        text-align: center;
                    }
                    .feature-table {
                        padding-top: 30px;
                        .center {
                            margin-top: 40px;
                            margin-bottom: 100px;
                            position: static;
                            -webkit-transform: none;
                            transform: none;
                            text-align: center;
                            height: 213px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: end;
                            -ms-flex-align: end;
                            align-items: flex-end;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            background: #eaeaea;
                            img {
                                width: auto;
                                margin-bottom: -60px;
                                height: calc( 100% + 100px);
                            }
                        }
                        .line {
                            background-color: inherit !important;
                            min-height: 0;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            .right,
                            .left {
                                padding-left: 0;
                                min-height: 0;
                                width: 60%;
                            }
                            .left-block {
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                width: 100%;
                                >* {
                                    width: 60%;
                                }
                            }
                            .button-block {
                                margin-top: 40px;
                                padding-right: 0;
                                width: 100%;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                            }
                        }
                    }
                    >.btn {
                        margin-top: 54px;
                    }
                }
            }
            .block-about {
                .block-inner {
                    padding: 90px $m_Padding 80px;
                    .block-title {
                        font-size: 40px;
                        margin-bottom: 44px;
                    }
                    .block-description {
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0 auto 50px;
                        max-width: 100%;
                    }
                    .block-image-slider {
                        .swiper-container {
                            .item {
                                padding-left: 50px;
                                padding-right: 50px;
                            }
                            .swiper-button-next {
                                right: 0;
                            }
                            .swiper-button-prev {
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                                left: 0;
                            }
                        }
                    }
                }
            }
            .block-boxes {
                .block-inner {
                    .box-item {
                        width: 100%;
                        min-height: 450px;
                        background-size: 305px, cover;
                        &:nth-child(4n+2),
                        &:nth-child(4n+3),
                        &:nth-child(8n+6),
                        &:nth-child(8n+8),
                        &:nth-child(8n+3),
                        &:nth-child(8n+1) {
                            background-color: #ababab;
                        }
                        &:nth-child(2n+1) {
                            background-color: #d1d1d1;
                        }
                    }
                }
            }
            .block-order-form {
                padding: 85px $m_Padding;
                .block-inner {
                    .block-title {
                        font-size: 52px;
                        font-weight: 500;
                        margin-bottom: 18px;
                    }
                    .block-subtitle {
                        font-size: 20px;
                        margin-bottom: 18px;
                    }
                    .line {
                        width: 100%;
                        &.line-1 {
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            >* {
                                width: 100%;
                            }
                        }
                        &.line-2 {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            >* {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .block-news-items {
                margin-bottom: 85px;
                .block-inner {
                    width: 100%;
                    padding-left: $m_Padding;
                    padding-right: $m_Padding;
                    .year {
                        font-size: 40px;
                        margin-bottom: 32px;
                    }
                    .items {
                        margin-left: 0;
                        margin-right: 0;
                        .item {
                            -ms-flex-preferred-size: 100%;
                            flex-basis: 100%;
                            padding: 0;
                            margin-bottom: 35px;
                        }
                    }
                    .load-more {
                        margin-top: 38px;
                        a {
                            margin-left: 20px;
                            margin-right: 20px;
                            min-width: 210px;
                            font-size: 15px;
                            padding-top: 14px;
                            padding-bottom: 14px;
                            border-radius: 30px;
                        }
                    }
                }
            }
            .block-news {
                .block-inner {
                    padding-left: $m_Padding;
                    padding-right: $m_Padding;
                    width: 100%;
                    .block-title {
                        font-size: 40px;
                        margin-bottom: 30px;
                    }
                    .items {
                        margin: 0 -15px 20px;
                        .item {
                            &:nth-child(2) {
                                display: none;
                            }
                            width: 100%;
                            padding: 25px 35px;
                            margin-left: 15px;
                            margin-right: 15px;
                            border-radius: 10px;
                        }
                    }
                }
            }
            .block-contacts {
                .block-inner {
                    .btn {
                        top: 100px;
                        min-width: 0;
                        width: calc( 85% - #{$m_Padding} * 2);
                    }
                    #contacts-map {
                        width: 100%;
                        height: 600px;
                    }
                }
            }
            .block-content {
                .block-inner {
                    width: 100%;
                    padding: 0 $m_Padding 100px;
                }
            }
            .block-consult {
                .block-inner {
                    padding: 80px $m_Padding 60px;
                    width: 100%;
                    .block-title {
                        font-size: 52px;
                        font-size: 40px;
                        margin-bottom: 10px;
                    }
                    .block-subtitle {
                        margin-bottom: 30px;
                        font-size: 18px;
                    }
                    .line {
                        .col {
                            &.col-1,
                            &.col-2 {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .block-footer {
            .block-inner {
                padding: 65px $m_Padding;
                margin: 0;
            }
        }
        .fancybox-container {
            .fancybox-close-small {
                width: 40px;
                height: 40px;
                top: $m_Padding;
                right: $m_Padding;
            }
            .fancybox-slide {
                .fancybox-content {
                    .modal-inner {
                        padding: 80px $m_Padding 40px;
                        width: 100%;
                        .modal-title {
                            margin-bottom: 20px;
                            font-size: 52px;
                            font-size: 40px;
                        }
                        .modal-subtitle {
                            font-size: 18px;
                            margin-bottom: 20px;
                        }
                    }
                    &.modal-order {
                        .line {
                            max-width: 100%;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            .col {
                                width: 100%;
                            }
                            .form-group__fileinput {
                                margin-top: 0;
                                margin-bottom: 20px;
                            }
                        }
                        .box-cols {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}