/* Tablet */

/*@media (max-width: 991px) {*/
@media (max-width: $t_Break) {
    body {
        font-size: 16px;
    }
    html {
        .block-header {
            &.block-header-inner {
                .block-inner {
                    padding-bottom: 45px;
                }
                +main> :first-child {
                    padding-top: 60px;
                    padding-top: 90px;
                }
            }
            .block-inner {
                padding: 30px $t_Padding 60px;
                .top {
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    width: 100%;
                    .block-soc {
                        width: 50%;
                        .inner {
                            margin-left: -8px;
                            a {
                                width: 50px;
                                height: 50px;
                                margin-right: 8px;
                                margin-left: 8px;
                                &.fb {
                                    img {
                                        width: 14px;
                                    }
                                }
                                &.vk {
                                    img {
                                        margin-left: -3px;
                                        width: 33px;
                                    }
                                }
                                &.tw {
                                    img {
                                        width: 24px;
                                    }
                                }
                            }
                        }
                    }
                    .block-contacts {
                        -webkit-box-ordinal-group: 3;
                        -ms-flex-order: 2;
                        order: 2;
                        .inner {
                            font-size: 14px;
                            .phone {
                                font-size: 22px;
                            }
                            .time {
                                display: none;
                            }
                        }
                    }
                    .block-menu {
                        margin-top: 31px;
                        -webkit-box-ordinal-group: 4;
                        -ms-flex-order: 3;
                        order: 3;
                        width: 100%;
                        -ms-flex-preferred-size: 100%;
                        flex-basis: 100%;
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        .inner {
                            ul {
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                                li {
                                    &.logo {
                                        a {
                                            width: 120px;
                                            height: 120px;
                                        }
                                    }
                                    margin-left: 0;
                                    margin-right: 0;
                                    a {
                                        padding-bottom: 4px;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
                .middle {
                    .left {
                        width: 45%;
                        .title {
                            font-size: 40px;
                            margin-bottom: 23px;
                        }
                        .subtitle {
                            font-size: 18px;
                            margin-bottom: 30px;
                        }
                    }
                    .center {
                        padding: 30px 0;
                        img {
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .right {
                        display: none;
                    }
                }
                .bottom {
                    &.bottom-page-info {
                        width: 100%;
                        padding-top: 100px;
                        .page-title {
                            font-size: 40px;
                            margin-bottom: 10px;
                            line-height: 1.2;
                        }
                        .breadcrumbs {
                            ul {
                                li {
                                    &,
                                    a {
                                        font-size: 14px;
                                    }
                                    &:after {
                                        margin-left: 9px;
                                        margin-right: 9px;
                                    }
                                }
                            }
                        }
                        .bg,
                        .bg-2 {
                            width: 300px;
                            height: 200px;
                            right: -45px;
                            left: auto;
                            bottom: -140px;
                        }
                    }
                    a.next {
                        font-size: 16px;
                        img {
                            margin: 16px auto;
                        }
                    }
                }
            }
        }
        main {
            .block-calc {
                padding: 110px 0 45px;
                &.step-2 {
                    .block-inner {
                        .block-inner-2{
                            -webkit-transform: translateX(-45%);
                            transform: translateX(-45%);
                        }
                    }
                }
                .block-inner {
                    overflow: hidden;
                    padding: 0;
                    margin-left: 28px;
                    margin-right: 28px;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    .block-inner-2 {
                        -webkit-transition: all 0.3s ease-out;
                        transition: all 0.3s ease-out;
                        .left {
                            width: 45%;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            -webkit-box-flex: 0;
                            -ms-flex-positive: 0;
                            flex-grow: 0;
                            -ms-flex-preferred-size: 45%;
                            flex-basis: 45%;
                            padding-right: 35px;
                        }
                        .center {
                            -webkit-box-flex: 55%;
                            -ms-flex: 55%;
                            flex: 55%;
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            width: 55%;
                            -ms-flex-preferred-size: 55%;
                            flex-basis: 55%;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            -webkit-box-flex: 0;
                            -ms-flex-positive: 0;
                            flex-grow: 0;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            #calc-image {
                                -webkit-box-flex: 1;
                                -ms-flex: 1;
                                flex: 1;
                                margin-right: 50px;
                            }
                            .bottom {
                                /*display: block;*/
                                text-align: center;
                                .btn {
                                    position: relative;
                                    display: inline-block;
                                    padding-right: 70px;
                                    padding-left: 50px;
                                    &.btn-arrow--back {
                                        padding-right: 50px;
                                        padding-left: 70px;
                                    }
                                }
                            }
                        }
                        .right {
                            padding-left: 35px;
                            width: 45%;
                            -ms-flex-preferred-size: 45%;
                            flex-basis: 45%;
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            -webkit-box-flex: 0;
                            -ms-flex-positive: 0;
                            flex-grow: 0;
                        }
                        .block-title {
                            font-size: 40px;
                            margin-bottom: 26px;
                            letter-spacing: 2px;
                        }
                        .calc-block {
                            padding-left: 8px;
                            margin-bottom: 36px;
                            .cb-title {
                                margin-left: -8px;
                                margin-bottom: 20px;
                                padding: 10px 20px;
                                border-radius: 10px;
                                font-size: 16px;
                                &:before {
                                    margin-right: 7px;
                                }
                            }
                            .rg-range {
                                margin-top: 15px;
                                .rg-range-title {
                                    font-size: 12px;
                                    margin-bottom: 14px;
                                }
                            }
                            .rg-range+.rg-checkbox {
                                margin-top: 14px;
                            }
                            .rg-checkbox {
                                >input {
                                    &:checked {
                                        ~.checkbox-styler {
                                            &:before {
                                                top: -4px;
                                                right: -4px;
                                                width: 17px;
                                                height: 15px;
                                            }
                                        }
                                    }
                                }
                                .checkbox-styler {
                                    margin-right: 10px;
                                    width: 13px;
                                    height: 13px;
                                }
                                .checkbox-title {
                                    margin-top: 2px;
                                    font-size: 12px;
                                }
                            }
                            .row-inputs {
                                .ri-input {
                                    width: 100px;
                                }
                                .divider {
                                    margin: 0 14px;
                                }
                            }
                            .rg-input {
                                margin-bottom: 13px;
                                &.rg-input__withsubparams {
                                    >.rg-right>.rg-title {
                                        padding-right: 10px;
                                        &:after {
                                            margin-top: 3px;
                                            margin-left: 10px;
                                            background-size: 10px 6px;
                                            width: 10px;
                                            height: 6px;
                                        }
                                    }
                                }
                                >input {
                                    &:checked {
                                        ~.rg-left {
                                            .radio-styler {
                                                &:before {
                                                    width: 12px;
                                                    height: 12px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .rg-left {
                                    width: 40px;
                                    .radio-styler {
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                                .rg-right {
                                    .rg-subinputs {
                                        margin-top: 15px;
                                        margin-bottom: 10px;
                                        >* {
                                            margin-right: 15px;
                                        }
                                    }
                                    .rg-title {
                                        margin-top: -4px;
                                        margin-bottom: 6px;
                                        font-size: 20px;
                                        letter-spacing: 1.5px;
                                    }
                                    .rg-subtitle {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                >.bottom {
                    margin-top: 60px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    a.next {
                        text-align: center;
                        color: #333;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1;
                        text-decoration: none;
                        img {
                            margin: 16px auto;
                            display: block;
                        }
                    }
                }
            }
            .block-services {
                .block-inner {
                    padding: 80px 90px 70px;
                    padding: 80px 40px 70px;
                    .block-title {
                        font-size: 40px;
                        margin-bottom: 70px;
                    }
                    .service-group {
                        margin-bottom: 50px;
                        margin-bottom: 20px;
                        .sg-title {
                            font-size: 20px;
                            letter-spacing: 4px;
                            margin-bottom: 30px;
                        }
                        .items {
                            .item {
                                margin-left: 15px;
                                margin-right: 15px;
                                width: 140px;
                                .img {
                                    margin-bottom: 5px;
                                    display: block;
                                    img {
                                        padding: 8px;
                                        border-width: 1px;
                                    }
                                }
                                .title {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    >.btn {
                        margin-top: 33px;
                    }
                }
            }
            .block-features {
                .block-inner {
                    padding-top: 65px;
                    padding-bottom: 50px;
                    .block-title {
                        margin-left: 60px;
                        max-width: 50%;
                        font-size: 40px;
                        margin-bottom: 0;
                        text-align: left;
                    }
                    .feature-table {
                        padding-top: 65px;
                        .line {
                            min-height: 210px;
                            padding: 0;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            -webkit-box-pack: start;
                            -ms-flex-pack: start;
                            justify-content: flex-start;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            .right,
                            .left {
                                -webkit-box-pack: start;
                                -ms-flex-pack: start;
                                justify-content: flex-start;
                                padding: 20px 0;
                                padding-left: 60px;
                                min-height: 105px;
                                width: 60%;
                                .f-item {
                                    min-width: 300px;
                                    text-align: left;
                                    .img {
                                        width: 80px;
                                        img {
                                            max-width: 48px;
                                            max-height: 48px;
                                        }
                                    }
                                    .title {
                                        font-size: 18px;
                                    }
                                }
                            }
                            .left-block {
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                                width: 50%;
                                >* {
                                    width: 100%;
                                }
                            }
                            .button-block {
                                padding-right: 60px;
                                width: 50%;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                            }
                        }
                        .center {
                            right: 28px;
                            left: auto;
                            top: -40px;
                            -webkit-transform: none;
                            transform: none;
                            text-align: right;
                            img {
                                width: 60%;
                            }
                        }
                    }
                    >.btn {
                        margin-top: 54px;
                    }
                }
            }
            .block-about {
                .block-inner {
                    padding: 90px 50px 80px;
                    .block-title {
                        font-size: 40px;
                        margin-bottom: 44px;
                    }
                    .block-description {
                        font-size: 16px;
                        margin: 0 auto 50px;
                        max-width: 100%;
                    }
                    .block-image-slider {
                        margin-bottom: 50px;
                        .swiper-container {
                            .inner {
                                .item {
                                    .item-inner {
                                        &::before {
                                            border-width: 4px;
                                        }
                                    }
                                }
                            }
                            .swiper-pagination {
                                margin-top: 30px;
                                .swiper-pagination-bullet {
                                    margin-left: 8px;
                                    margin-right: 8px;
                                    height: 13px;
                                    width: 13px;
                                }
                            }
                            .swiper-button-next,
                            .swiper-button-prev {
                                margin-top: -23px;
                                background: url(../images/swiper-arrow.svg) no-repeat 50% 50%;
                                background-size: 41px 23px;
                                width: 41px;
                                height: 41px;
                            }
                            .swiper-button-next {
                                right: 70px;
                            }
                            .swiper-button-prev {
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                                left: 70px;
                            }
                        }
                    }
                }
            }
            .block-boxes {
                .block-inner {
                    .box-item {
                        width: 50%;
                        min-height: 450px;
                        background-size: 305px, cover;
                        &:nth-child(8n+6),
                        &:nth-child(8n+8),
                        &:nth-child(8n+3),
                        &:nth-child(8n+1) {
                            background-color: #ababab;
                        }
                        &:nth-child(4n+2),
                        &:nth-child(4n+3) {
                            background-color: #d1d1d1;
                        }
                        .box-item-inner {
                            &:before {
                                left: 15px;
                                right: 15px;
                                top: 15px;
                                bottom: 15px;
                            }
                            .content {
                                .title {
                                    margin-bottom: 30px;
                                    font-size: 30px;
                                }
                                .subtitle {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
            .block-order-form {
                padding: 85px 60px;
                .block-inner {
                    .block-title {
                        font-size: 52px;
                        font-weight: 500;
                        margin-bottom: 18px;
                    }
                    .block-subtitle {
                        font-size: 24px;
                        margin-bottom: 36px;
                    }
                    .line {
                        max-width: 100%;
                        margin: -5px auto;
                        .col {
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                        &.line-1 {
                            >* {
                                width: 50%;
                            }
                        }
                        &.line-2 {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            >* {
                                width: 100%;
                            }
                        }
                        &.line-3 {
                            text-align: center;
                            margin-top: 23px;
                            .btn {
                                margin-left: auto;
                                margin-right: auto;
                                display: inline-block;
                                width: auto;
                            }
                        }
                    }
                }
            }
            .block-news-items {
                margin-bottom: 85px;
                .block-inner {
                    width: 100%;
                    margin: 0 auto;
                    padding-left: 50px;
                    padding-right: 50px;
                    .year {
                        font-size: 40px;
                        margin-bottom: 32px;
                    }
                    .items {
                        margin-left: -15px;
                        margin-right: -15px;
                        .item {
                            -ms-flex-preferred-size: 50%;
                            flex-basis: 50%;
                            padding: 0 15px;
                            margin-bottom: 35px;
                            .item-inner {
                                padding: 20px;
                                .img {
                                    margin-bottom: 22px;
                                }
                                .title {
                                    font-size: 15px;
                                }
                                .item-footer {
                                    margin-top: 20px;
                                    font-size: 12px;
                                    >* {
                                        margin-left: 3px;
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }
                    }
                    .load-more {
                        margin-top: 38px;
                        a {
                            margin-left: 20px;
                            margin-right: 20px;
                            min-width: 210px;
                            font-size: 15px;
                            padding-top: 14px;
                            padding-bottom: 14px;
                            border-radius: 30px;
                        }
                    }
                }
            }
            .block-news {
                .block-inner {
                    padding-left: 40px;
                    padding-right: 40px;
                    max-width: 100%;
                    padding-top: 90px;
                    .block-title {
                        font-size: 40px;
                        margin-bottom: 40px;
                    }
                    .items {
                        margin: 0 -15px 20px;
                        .item {
                            &:nth-child(3) {
                                display: none;
                            }
                            width: 50%;
                            padding: 25px 35px;
                            margin-left: 15px;
                            margin-right: 15px;
                            border-radius: 10px;
                            .title {
                                font-size: 15px;
                            }
                            .item-footer {
                                margin-top: 20px;
                                font-size: 12px;
                                >* {
                                    margin-left: 3px;
                                    margin-right: 3px;
                                }
                            }
                        }
                    }
                    .showall {
                        font-size: 12px;
                    }
                }
            }
            .block-contacts {
                .block-inner {
                    .btn {
                        top: 100px;
                        min-width: 344px;
                    }
                    #contacts-map {
                        width: 100%;
                        height: 750px;
                    }
                }
            }
            .block-content {
                .block-inner {
                    width: 100%;
                    padding: 0 40px 100px;
                }
            }
            .block-consult {
                .block-inner {
                    padding: 80px 60px 60px;
                    width: 100%;
                    .block-title {
                        font-size: 52px;
                        margin-bottom: 10px;
                    }
                    .block-subtitle {
                        margin-bottom: 30px;
                        font-size: 24px;
                    }
                    .line {
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        .col {
                            padding-left: 5px;
                            padding-right: 5px;
                            &.col-1,
                            &.col-2 {
                                width: 50%;
                            }
                            &.col-3 {
                                width: 100%;
                                padding-bottom: 10px;
                            }
                        }
                    }
                    .note {
                        font-size: 14px;
                    }
                }
            }
        }
        .block-footer {
            .block-inner {
                margin: 65px auto;
                font-size: 15px;
                .description {
                    margin-bottom: 30px;
                    margin-bottom: 10px;
                }
                .copyright {
                    font-size: 12px;
                    margin-bottom: 40px;
                }
                .block-soc {
                    -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                    order: 1;
                    .inner {
                        margin-left: -8px;
                        a {
                            width: 39px;
                            height: 39px;
                            margin-right: 8px;
                            margin-left: 8px;
                            &.fb {
                                img {
                                    width: 10px;
                                }
                            }
                            &.vk {
                                img {
                                    margin-left: -3px;
                                    width: 23px;
                                }
                            }
                            &.tw {
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .fancybox-container {
            .fancybox-close-small {
                width: 48px;
                height: 48px;
                top: 45px;
                right: 45px;
            }
            .fancybox-slide {
                .fancybox-content {
                    .modal-inner {
                        padding: 100px 60px;
                        width: 100%;
                        .modal-title {
                            margin-bottom: 20px;
                            font-size: 52px;
                        }
                        .modal-subtitle {
                            font-size: 24px;
                            margin-bottom: 20px;
                        }
                    }
                    &.modal-order {
                        .line {
                            max-width: 100%;
                            margin: -5px auto;
                            .col {
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                            .form-group__fileinput {
                                margin-top: 10px;
                                margin-bottom: 30px;
                            }
                        }
                        .box-cols {
                            min-height: 0;
                            margin: 30px auto;
                            max-width: 100%;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            .col-1 {
                                display: none;
                            }
                            .col-2 {
                                width: 80%;
                                text-align: center;
                                font-size: 15px;
                                line-height: 24px;
                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}