@import '_functions.scss';

/* Desktop */
 
$d_Padding: f-vw(45px); 

/* Tablet */
 
$t_Break: 1024px;
$t_Break_down: $t_Break - 1;
$t_Break_up: $t_Break + 1;
$t_Padding: 40px;   


/* Mobile */  
 
$m_Padding: 30px;
$m_Break: 767px; 
 
@import '_reset.scss'; 
@import '_helpers.scss'; 
@import '_desktop.scss';
@import '_tablet.scss';
@import '_mobile.scss';
